/* Global rules */
html {
    background-color: rgb(255, 255, 255);
    font-family:'Lato', sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
    background-repeat: repeat;
    background-size: 2000px 1200px;
}
body {
    margin:0;
   /* removes gap at top of page */
}
header {
    height: auto 
}
::selection {
    color: #2e0837;
    background: #ff0;
}
h1 {
    font-weight: bolder;
    margin: auto;
    background: #ffffff;
    line-height: 2.5em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




/* The border radius on h1.page-header and main.wrapper provide the curved corners that appear on the body area of the page */
h1.page-header{
    font-family: 'Lato',sans-serif;
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
picture.logo img{
    width: 50%;
   
}
picture.homebanner img{
    width: 100%;
}
picture.gallerybanner img{
    width: 100%;
}
picture.producebanner img{
    width: 100%;
}
picture.seafoodbanner img{
    width: 100%;
}
picture.campingbanner img{
    width: 100%;
}
picture.eventbanner img{
    width: 100%;
}
picture.amenitiesbanner img{
    width: 100%;
}
picture.aboutbanner img{
    width: 100%;
}
picture.colorblockbanner img{
    width: 100%;
}
picture.connectbanner img{
    width: 100%;
}
picture.footerbanner img{
    width: 100%;
}
picture.findbanner img{
    width: 100%;
}
picture.countrybanner img{
    width: 100%;
}
picture.animalsbanner img{
    width: 100%;
}
picture.googlemap img{
    width: 95%;
}

main.wrapper {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#myBtn {
    display: none;
   /* Hidden by default */
    position: fixed;
   /* Fixed/sticky position */
    bottom: 20px;
   /* Place the button at the bottom of the page */
    right: 30px;
   /* Place the button 30px from the right */
    z-index: 99;
   /* Make sure it does not overlap */
    border: none;
   /* Remove borders */
    outline: none;
   /* Remove outline */
    background-color: rgb(173, 0, 0);
   /* Set a background color */
    color: white;
   /* Text color */
    cursor: pointer;
   /* Add a mouse pointer on hover */
    padding: 15px;
   /* Some padding */
    border-radius: 10px;
   /* Rounded corners */
    font-size: 15px;
}
#myBtn:hover {
    background-color: #000000;
   /* Add a dark-grey background on hover */
}
.subheader {
    text-align: center;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
}
.row {
    display: flex;
}
.column {
    flex: 25%;
    padding: 15px;
}
p {
    margin: 1em;
   /* Top Right Bottom Left (TRBL) */
}
h2{
    font-weight: bold;
    margin-left: 1em;
    line-height: 1em;
    text-align: center;
}
h3 {
    font-weight:bolder;
    font-size: larger;
    margin-left: 1em;
    line-height: 1em;
    text-align: center;
}
h4 {
    text-align: center;
}
a {
    color:rgb(25, 119, 171);
    text-decoration: none;
}
a:hover {
    color: #950000;
    text-decoration: shadow;
    background-color: rgb(255, 119, 119);
}
footer {
    clear: both;
    text-align: center;
    padding: 1em;
}
/* Responsive rules */
/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
   }
    h1 {
        width: 79%;
   }
    picture.logo img {
        max-width: 65%;
   }
    picture.collards img {
        max-width: 50%;
        float: left;
        margin: 2em;
   }
    picture.veggiephoto img {
        max-width: 50%;
        float: left;
        margin: 2em;
   }
   picture.crabclaws img {
        max-width: 50%;
        float: left;
        margin: 2em;
   }
    picture.shrimpphoto img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.saladdressings img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.buttereggs img {
        max-width: 30%;
        float: left;
        margin: 2em;
    }
    picture.animals1 img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.animals2 img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.animals3 img {
        max-width: 50%;
        float: right;
        margin: 2em;
    }
    picture.pumpkins img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.restrooms img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.eventsphoto img {
        max-width: 50%;
        float: left;
        margin: 2em;
    }
    picture.gallery1 img {
        max-width: 70%;
        float: right;
        margin: 2em;
    }
    picture.gallery2 img {
        max-width: 70%;
        float: center;
        margin: 2em;
    }
    picture.aboutphoto img {
        max-width: 45%;
        float: left;
        margin: 2em;
    }
    picture.googlemap img {
        float: right;
        margin: 2em;
    }

}
/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
   }
    h1 {
        width: 89%;
   }
    picture.logo img {
        max-width: 90%;
   }
    picture.collards img {
        max-width: 45%;
        float: left;
        margin: 1em;
   }    
    picture.veggiephoto img {
        max-width: 45%;
        float: left;
        margin: 1em;
   }
    picture.crabclaws img {
        max-width: 45%;
        float: left;
        margin: 1em;
   }
    picture.shrimpphoto img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.saladdressings img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.buttereggs img {
        max-width: 35%;
        float: left;
        margin: 1em;
    }
    picture.animals1 img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.animals2 img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.animals3 img {
        max-width: 45%;
        float: right;
        margin: 1em;
    }
    picture.pumpkins img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.restrooms img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.eventsphoto img {
        max-width: 45%;
        float: left;
        margin: 1em;
    }
    picture.gallery1 img {
        max-width: 55%;
        float: right;
        margin: 1em;
    }
    picture.gallery2 img {
        max-width: 55%;
        float: center;
        margin: 1em;
    }
    picture.aboutphoto img {
        max-width: 35%;
        float: left;
        margin: 1em;
    }

}
/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
   }
    h1 {
        width: 99%;
   }
    picture.logo img {
        width: 55%;
   }
    picture.collards img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
   }
   picture.veggiephoto img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
   }
    picture.crabclaws img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
   }
    picture.shrimpphoto img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.saladdressings img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.buttereggs img {
        max-width: 15%;
        float: left;
        margin: 0.5em;
    }
    picture.animals1 img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.animals2 img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.animals3 img {
        max-width: 30%;
        float: right;
        margin: 0.5em;
    }
    picture.pumpkins img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.restrooms img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.eventsphoto img {
        max-width: 30%;
        float: left;
        margin: 0.5em;
    }
    picture.gallery1 img {
        max-width: 45%;
        float: right;
        margin: 0.5em;
    }
    picture.gallery2 img {
        max-width: 45%;
        float: center;
        margin: 0.5em;
    }
    picture.aboutphoto img {
        max-width: 55%;
        float: left;
        margin: 0.5em;
    }

}